
<div class="jumbotron card">
  <h2>2016 猴年慶祝活動相簿 Chinese New Year Celebration Gallery</h2>
  <hr>

  <div class="container-d">
    <div class="auto-scale">
      <iframe
              src="https://www.flickr.com/photos/ching43202/sets/72157664161744430/player/"
              frameborder="0"
              allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen>
      </iframe>
    </div>
    <div style="padding-top: 60%;" class="ratio-holder"></div>
  </div>
</div>
<style type="text/css">
  .container-d {
      width: 100%; /* Set this to the width you prefer */
      display: inline-block;
      position: relative;
      background-color: #eee;
  }
  .auto-scale {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
  }
  .auto-scale>iframe {
      width: 100%;
      height: 100%;
  }
</style>