<div class="jumbotron card">
  <h2>夏令營成果 Summer Camp Accomplishments</h2>
  <p>Summer Camp: 7/24-7/28</p>
  <hr>
  <iframe src="https://drive.google.com/file/d/0B8xlohlr0TyAa2hib0Ric2RmcWs/preview" width="900" height="480" align="middle" style="position:relative;Left:60px"></iframe>
  <hr>
  
  <!-- <p><a href= "https://drive.google.com/file/d/0B8xlohlr0TyAa2hib0Ric2RmcWs/view" class="btn btn-primary btn-block" role="button">夏令營視頻 Click Here to View the Summer Camp 2017 Video</a></p> -->

 <!--  <div class="lg-col-12">
  	<img style="width: 100%" src="static/CCA_2017-2018_Calendar-New.jpg" alt="2017 Autumn School Calendar">
  </div> -->
  <div id="flickrembed"></div>

  <script src="//flickrembed.com/embed_v2.js.php?source=flickr&layout=responsive&input=www.flickr.com/photos/150929290@N02/albums/72157684986517253&by=album&theme=default_notextpanel&scale=fill&skin=default&id=58b6168c7b9ec"></script>
</div>