
<div class="jumbotron card">
  <h2>2016年海外青年文化志工培訓班(FASCA)</h2>
  <hr>
  <p>
    <p class="text-danger">青少年文化領袖培育路  僑委會陪您的孩子大步走<br>
服務、領導、文化、傳承  永續培育青年文化大使</p><br>
【本報訊】2016年僑務委員會【海外青年文化志工培訓班（FASCA）】即將自6月底至7月間於美加地區8個城市展開培訓活動，歡迎家長鼓勵家中青少年報名參加。此活動以「服務、文化、領導、傳承」為四大培訓主軸，分為三日研習培訓及全年持續性【培力計畫】。活動特聘請來自臺灣、喬治亞州、加州等地區優秀師資共同組成巡迴講座，為您的孩子辦理既活潑又生動的體驗活動；學員訓後還可以加入在地福爾摩沙青年文化大使協會〈簡稱FASCA〉參與後續【培力計畫】，積極透過僑社活動的服務與學習，培育成為具有文化涵養與領導長才的華裔青年。<br><br>
 
三日研習培訓內容精彩可期，涵括文化尋根與體驗課程，賦予傳統藝術新意象，並安排團隊組織帶領與行政規劃課程，教學與實務兼備。培訓班師資陣容堅強，深獲歷屆學員高度肯定，讓您的孩子在精進實力的同時，也可拓展人際關係、結交更多相同背景的夥伴。<br><br>
 
每位學員培訓結業後，即具有加入海外青年文化大使組織（FASCA）資格，並可參與僑委會提供之全年度培力計畫；屆時，除定期參與僑社服務活動外，更有多元線上課程提供參訓青少年自我學習。若參訓學員服務時數累積超過100小時，將由相關單位協助申請「美國總統志工服務獎」（加拿大地區暫無），使未來升學之路更加寬廣。<br><br>
 
歡迎14-18歲華裔青少年加入，一起學習成長，晉升華裔菁英行列！<br>
詳情及報名請連結以下網站: <a href="http://www.ocacfasca.org" target="_blank">http://www.ocacfasca.org</a> 或 <a href="http://www.ocac.gov.tw" target="_blank">http://www.ocac.gov.tw</a>〈點入華僑文化教育頁面，再點入培訓海外青年文化志工頁面即可瀏覽〉<br><br>
 
※相關報名及參訓資格，請參考網站說明或電洽芝加哥華僑文教服務中心宋小姐，電話(630)323-2440，分機5016詢問。
  </p>
  <div class="col-md-6">
    <img src="images/activity/Picture1.png">
  </div>
  <div class="col-md-6">
    <img src="images/activity/Picture2.png">
  </div>
  
</div>
