
<div class="jumbotron card">
  <h2>CCA夏令營Summer Camp2016 - CCA</h2>
  <hr>
  <div class="col-lg-9">
  	<a href="static/summercamp2016.pdf" target="_blank"><img src="static/summercamp2016.png" style="width: 100%" alt="flyer PDF">
  	</a>
  </div>
  <div class="col-lg-3">
  	<h3>Register</h3>
  	1. print and fill out <a href="static/summercamp2016_reg.pdf" target="_blank">registration form
  	<br><img src="static/summercamp2016_reg.png" style="width: 100%"></a>
  	<br>2. mail to <i><b>Columbus Chinese Academy, PO BOX 82244, Columbus OH 43202</b></i>
  </div>
  
</div>
