
<div class="jumbotron card">
    <h2>2016 哥城中文學校民俗文化夏令營<br> CCA Chinese Culture Summer Camp</h2>
    <hr>
  <div class="row">
      <h3>活動介紹 Summer Camp Introduction</h3>
    <div class="col-md-6">
      <a href="images/2016summercampflyer.pdf" target="_blank"><img src="images/2016summercampflyer.jpg" style="width: 100%" alt="flyer PDF">
      </a>
    </div>
    <div class="col-md-6">
   
      <ul>
        <li><p>TIME: 8/1 - 8/5 9:00AM-4:30PM</p></li>
        <li><p>COST: (include/ meal.snack.t-shirt.material fee)</p></li>
        <li><p>【CCA member】</p></li>
        <ul>
        <li><p> First child-$175, additional siblings-$165</p></li>
        <li><p> register before 5/14, plus $10 off per household</p></li>
        </ul>
        <li><p>【Non CCA member】</p></li>
        <ul>
        <li><p> First child-$185, additional siblings-$175</p></li>
        <li><p> register before 5/14, plus $10 off per household</p></li>
        </ul>
        <li><p>Before (8-9:00 AM) and After Care (4:30-6:00) are Available ($10/day)</p></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <h3>活動內容 Summer Camp Activities</h3>
    <img src="images/2016summercampflyer2.jpg" style="width: 100%">
  </div>
  <hr>
  <div class="row">
    <h3>活動影片 Summer Camp Videos</h3>
    <div class="col-md-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_yV1cI1POvU" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B7PzuwyjteY_V0NSOWQ2blVTUlU/preview" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-4">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B7PzuwyjteY_QklJZHdnMWM2YXM/preview" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
      <h3>報名 Register</h3>
      <h5>[Step 1]</h5> print and fill out <a href="static/summercamp2016_reg.pdf" target="_blank">registration form</a>
      <br><br><h5>[Step 2]</h5>
       Bring to CCA at <i><b>Daniel Wright Elementary School</b></i> every <i><b>Saturday 1-3 PM between now and 5/14</b></i> 
      <p class="text-muted">OR</p>
      Mail to <i><b>Columbus Chinese Academy, PO BOX 82244, Columbus OH 43202</b></i>
  </div>
</div>
