<div class="card">
    <div class="col-md-3">
        <div class="btn-group-vertical" id="sidebar">
           <a class="btn btn-default" href="#!/chinese#prek">
               <span class="label label-default">Pre-k</span>
               <br><span  style="font-size:14px;">Pre-Kindergarten</span></a>
           <a class="btn btn-default" href="#!/chinese#k">
                <span class="label label-default">CC-K</span>
                <br><span  style="font-size:14px;">Kindergarten</span></a>
           <a class="btn btn-default" href="#!/chinese#101a">
                <span class="label label-default">CFL-101A</span>
                <br><span  style="font-size:14px;">Chinese as a Foreign Language</span></a>
           <a class="btn btn-default" href="#!/chinese#cc01">
                <span class="label label-default">CC-01</span>
                <br><span  style="font-size:14px;">1st Grade</span></a>
           <a class="btn btn-default" href="#!/chinese#cc04">
                <span class="label label-default">CC-04</span>
                <br><span  style="font-size:14px;">4th Grade</span></a>
           <a class="btn btn-default" href="#!/chinese#cc05">
                <span class="label label-default">CC-05</span>
                <br><span  style="font-size:14px;">5th Grade</span></a>
           <a class="btn btn-default" href="#!/chinese#ebook">
                <span class="label label-default">Resource</span>
                <br><span  style="font-size:14px;">電子書E-book</span></a>
        </div>
    </div>
    <div class="col-md-9">

            <h2>中文課程 Chinese Course</h2>
            <hr>
        <a name="prek"></a> 
        <div class="jumbotron card">
          <h3><span class="label label-default">Pre-k</span> Pre-Kindergarten</h3>
          <hr>
          
            <h3>學習目標 Class Goal</h3>
            <ol>
                <li><p>
                    聽,說: 學會在課程設計的12個主題(請看下方“教學內容”)中基本字彙和句型運用. 
                    <br>Listening &amp; Speaking: Students will learn basic vocabularies and sentence 
                     patterns used in the designed 12- topic course(see “Content" for details
                </p></li>
                <li><p>
                    閱讀和認字: 學會生活華語課本K2所涵蓋的內容。<br>
                    Reading &amp; word recognition : Cover the content of Living Mandarin vol. k 2.
                </p></li>
                <li><p>
                    除了語言的學習，在教材中也強調品德人文教育，讓小朋友能德智並重。<br>
                    In addition to language learning, character education is also the focus, so our kids will be well-rounded people.

                </p></li>
            </ol>
            <hr>
            <h3>教學內容 Content</h3><p>
                <p>生理健康(physical health)</p>
                <ol start="1">
                    <li><p>我的身體 (my body)</p></li>    
                    <li><p>食物 (food)</p></li>
                </ol>
                <p>心理健康(mental health)</p>
                <ol start="3">
                    <li><p>情緒 (emotions)</p></li>
                    <li><p>分享和關懷 (sharing &amp; caring)</p></li>
                </ol>
                <p>社會生活(social interaction)</p>
                <ol start="5">
                    <li><p>家人 (family members)</p></li>
                    <li><p>朋友 (friends)</p></li>
                </ol>
                <p>自然環境(natural environment )</p>
                <ol start="7">
                    <li><p>天氣和季節 (weather and seasons)</p></li>
                    <li><p>動物 (animals)</p></li>
                </ol>
                <p>物體描述 ( object description)</p>
                <ol start="9">
                    <li><p>顏色 (colors) </p></li>
                    <li><p>形狀 (shapes) </p></li>
                    <li><p>比較 (comparisons)</p></li>
                    <li><p>聲音 (sound)</p></li>
                </ol>
                </p>
            </ol>
            <hr>
            <h4>
            <a href="http://cloudschool.huayuworld.org/moodle/course/view.php?id=1912" target="_blank">    class content link
            </a>
            </4>
        </div>

        <a name="k"></a> 
        <div class="jumbotron card">
          <h3><span class="label label-default">CC-K</span> Kindergarten</h3>
          <hr>
            <p>
                This class is designed for kids ages 5 and above to learn and master the Zhùyīn Fúhào 
                (注音符號, phonetic symbols) and word pronunciations.
            </p>
            <p>Objectives: </p>
            <ul>
                <li><p>Students will be able to recognize and pronounce all phonic symbols.</p></li>
                <li><p>Students will be able to pronounce the combined phonics with the 4 tones.</p></li>
                <li><p>Students will be able to read and write words and sentences in phonic symbols.</p></li>
            </ul>
        </div>

        <a name="101a"></a> 
        <div class="jumbotron card">
          <h3><span class="label label-default">CFL-101A</span> Chinese as a Foreign Language</h3>
          <hr>
            <ul>
                <li><p>Introduce and review Chinese pin-yin and frequently used phrases.</p></li>
                <li><p>Learn and follow classroom instructions given in Chinese.</p></li>
                <li><p>Learn daily life conversation in Chinese</p></li>
                <li><p>Learn to express personal information and greetings in Chinese , respond to Y/N questions.</p></li>
                <li><p>Develop children's verbal ability through reciting rhymes/songs with body movements, "Show and Tell" etc.</p></li>
                <li><p>Introduce character construction and radicals and develop ability to write basic strokes and simple characters</p></li>
            </ul>
        </div>

        <a name="cc01"></a> 
        <div class="jumbotron card">
          <h3><span class="label label-default">CC-01</span> 1st Grade</h3>
          <hr>
            <h3>課程簡介</h3>
            <p>
            今年一年級班以學華語向前走為主要教材，全新版華語為輔助教材。上課使用注音和繁體字。 學華語向前走課本也附有拼音、簡體字和英文作為參考。
            教學目標是認識課文裡介紹的國字、注音和對話。上課和功課包括聽說讀寫。
            </p>
            <h3>教學內容可分以下十種主題:</h3>
            <ol>
                <li><p>互相問候和介紹</p></li>
                <li><p>認識家庭成員和家族成員</p></li>
                <li><p>三餐、食物及超級市場</p></li>
                <li><p>天氣和季節</p></li>
                <li><p>生日和日期</p></li>
                <li><p>興趣和玩具</p></li>
                <li><p>東西的位置及方向</p></li>
                <li><p>上學的交通方式</p></li>
                <li><p>電話禮貌</p></li>
                <li><p>中國字的由來和演變</p></li>
            </ol>
            <hr>
            <p>上下兩學期，我們會教學華語向前走 1，2，3，4，5，6，8，9，10，11，12 課</p>
            <hr>
            <h3>教學課本</h3>
            <p>全新版華語 1，2，3，4，6，9，10 課</p>
        </div>

        <a name="cc04"></a> 
        <div class="jumbotron card">
          <h3><span class="label label-default">CC-04</span> 4th Grade</h3>
          <hr>
            <h3>課程簡介</h3>
            <p>
            本學期將以全新版華語第四冊生字為主要教材. 秋季班將教授六課課文. 課本生字選自教育部所編錄的 2,800常用字庫, 
            對於學生將來讀寫的能力多少有些幫助. 至於課本課文, 將考慮學生程度以及學習興趣, 略做調整. 課程中將加入文化節慶, 
            與美國的文化節慶做比較對照, 希望藉此培養出學生對中文學習的興趣. 並盡量以實做經驗, 如日常會話, 觀看影片, 
            中文演說等專題, 來豐富學生學習.
            </p>
            <p>
                對於學生的學習成果評量, 秋季班將有語文比賽. 所有的準備與復習工作, 都將併入教學內容之中.
            </p>
            <p>
                本課程的目標在於強調如何教導學生將來在需要用到中文時, 能夠以手邊的資料, 或是以上網搜尋的方式,
                來完成中文的書寫與溝通的目的. 盡量避免枯躁無味的課文生字背誦, 或是文字抄寫. 期待學生將來能對中文產生濃厚的興趣. 
                在中文學校畢業後, 即使上課所學的東西已不記得, 仍然可以用課堂中學到的技巧, 來達到使用中文與他人交流的目的.
            </p>    
            <hr>
            <h3>教學課本</h3>
            <p>全新版華語第四冊, 課外補充教材</p>
            <hr>
            <h3>評分標準</h3>
            <ol>
                <li><p>六次測驗成績: 60% (考試時可攜帶上課筆記, 測驗內容為上課教授生字的衍生與應用)</p></li>
                <li><p>Homework: 30%</p></li>
                <li><p>上課參與度(In class performance): 10%</p></li>
            </ol>
        </div>

        <a name="cc05"></a> 
        <div class="jumbotron card">
          <h3><span class="label label-default">CC-05</span> 5th Grade</h3>
          <hr>
            <p>Text Book: 流傳文化全新版華語第五冊</p>
            <p>Homework Assignments : Homework package from the CA Chinese School 學習評量卷<p>
            <p>Learning Activities : </p>
            <ul>
                <li><p>識字比賽</p></li>
                <li><p>編故事遊戲</p></li>
                <li><p>比手劃腳遊戲</p></li>
            </ul>

            <p>Teacher's Note:<p>
            <p>
            At the beginning of a new lesson, I will ask the students to read the text without pinyin
            not only to test their ability to recognize words they have learned but also introduce the
            new words in that lesson. I emphasize using the right order of strokes in writing Chinese
            characters. Pinyin is taught along with words but neither pinyin nor bopomofo is an emphasis
            in my class because my students have passed that stage.
            </p>
            <p>
            I use all sorts of games to get my students to practice speaking the language and help
            them memorizing Chinese characters. There are quizzes following 2 or 3 lessons to get 
            them into the habit of studying.
            </p>
        </div>
        <a name="ebook"></a> 
        <div class="jumbotron card">
          <h3>電子書資源 E-book resource</h3>
          <hr>
            <p> <a href="http://media.huayuworld.org/interact/ebook/default/medium.html" target="_blank">    連結 Link
            </a></p>
        </div>
        <div class="jumbotron card">
          <h3>有疑問？ Any questions?</h3>
          <hr>
            <p>如果對於課程有任何疑問，歡迎隨時聯絡我們！</p><br>
            <p>If there are any questions about the courses, feel free to contact us anytime!</p>
        </div>
    </div>
</div>

<div class="row" style="height: 50px"></div>
<style type="text/css">
  #sidebar.affix-top {
    position: static;
    margin-top:20px;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:20px;
    width:228px;
  }

  #sidebar{
    margin-bottom: 50px;
  }
</style>

<script type="text/javascript">
    $('#sidebar').affix({
      offset: {
        top: 245
      }
});
</script>