
<div class="jumbotron card">
  <h2>課外活動 Extracurricular</h2>
  <hr>
		<table class="table table-hover">
		  <caption>課外活動課程表 List of classes</caption>
		  <thead>
		  	<tr>
		  		<th>課程名稱 Class Name</th>
		  		<th>課程時間 Class Time</th>
		  		<th>費用 Fee</th>
		  	</tr>
		  </thead>
		  <tbody>
		  	<tr>
		  		<th>羽毛球 Badminton</th>
		  		<th>3:10PM - 4:00PM</th>
		  		<th>$90</th>
		  	</tr>
		  	<tr>
		  		<th>成人會話 Adult Conversation</th>
		  		<th>1:00PM - 3:00PM</th>
		  		<th>$195</th>
		  	</tr>
		  	<tr>
		  		<th>會話 Chinese as Second Language (歲數 Age 6-10)</th>
		  		<th>1:30PM - 3:00PM</th>
		  		<th>$180</th>
		  	</tr>
		  	<tr>
		  		<th>會話 Chinese as Second Language (歲數 Age 11-18)</th>
		  		<th>3:10PM - 4:30PM</th>
		  		<th>$180</th>
		  	</tr>
		  	<tr>
		  		<th>太極拳 Tai -Chi</th>
		  		<th>2:10PM - 3:00PM</th>
		  		<th>$90</th>
		  	</tr>
		  	<tr>
		  		<th>扯鈴 Chinese Yo Yo</th>
		  		<th>3:10PM - 4:00PM</th>
		  		<th>$90</th>
		  	</tr>
		  	<tr>
		  		<th>國樂(竹笛、二胡) Chinese Instruments(Bamboo flute, Erhu)</th>
		  		<th>3:10PM - 4:00PM</th>
		  		<th>$90</th>
		  	</tr>
		  	<tr>
		  		<th>功夫 Kung Fu</th>
		  		<th>3:10PM - 4:00PM</th>
		  		<th>$90</th>
		  	</tr>
		  	<tr>
		  		<th>琵琶 Pipa</th>
		  		<th>3:10PM - 4:00PM</th>
		  		<th>$90</th>
		  	</tr>
		  	<tr>
		  		<th>圍棋 Go</th>
		  		<th>3:10PM - 4:00PM</th>
		  		<th>$90</th>
		  	</tr>
		  	<tr>
		  		<th>瑜珈 Yoga</th>
		  		<th>3:10PM - 4:00PM</th>
		  		<th>$90</th>
		  	</tr>
		  </tbody>
		</table>
		<!-- <p><a class="btn btn-primary btn-lg" ui-sref="extra_reg">註冊 Register</a></p> -->
</div>