<div class="jumbotron card">
  <h2>課外活動 Extracurricular</h2>
  <br>
  <p><a ui-sref="reg">如何註冊 How to register</a></p>	
  <p><a href="static/CCA_2016-2017-EC-1.pdf" target="_blank">課外活動註冊表 Extracurricular Registration Form</a></p>
	<object data="static/CCA_2016-2017-EC-1.pdf" type="application/pdf" width="100%" height="700px;">

	<p>It appears you don't have a PDF plugin for this browser.
	No biggie... you can <a href="static/CCA_2016-2017-EC-1.pdf">click here to
	download the PDF file.</a></p>

	</object>
</div>