<style type="text/css">
ol li{
	font-size: 15px;
	margin: 0.7em 0;
}
</style>
<div class="jumbotron card" style="background-color: #f5f5f5;">

	<img src="images/logo_f5f5f5.png" class="img-responsive center-block" style="max-width: 70%">
	<h2 class="text-center">Enrollment &amp; Registration</h2>
	<hr>
	<h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Note 1:</h3>
	<b>New Family</b> refers to a family that never had any members enrolled in CCA. If you or your kids have registered previously, please go to Existing Student Registration. 
	<br>
	<h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Note 2:</h3>
	If your family is an existing family and would like to enroll new student(s), please email <u>officer.cca@gmail.com</u> to retrieve a new student ID and DO NOT register as a new family. Our <b>FamilyID and StudentID table</b> is based on the enrollment in the previous semester, so it is possible that you cannot find your IDs. In this case, please also email us and DO NOT register as a new family. 

	<h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> CCA New Family Enrollment:</h3>
	<br>

<!-- 	<ol id="customlist">
	<li>Complete your family and student enrollment at <a href="https://goo.gl/forms/Q41zPGdemLbrnSkj1" target="_blank">CCA New Family Enrollment</a>.</li>
	<li>Retrieve your <b>Family ID</b> and <b>Student ID</b> at the CCA registration desk on site.</li>
	<li>Follow the instructions of CCA Existing Student Registration below.</li>
	</ol> -->
	
	<ol>
	<li>Complete your family and student enrollment at <a href="https://goo.gl/forms/Q41zPGdemLbrnSkj1" target="_blank">CCA New Family Enrollment</a>.</li>
	<li>Retrieve your <b>Family ID</b> and <b>Student ID</b> at the CCA registration desk on site.</li>
	<li>Follow the instructions of CCA Existing Student Registration below.</li>
	</ol>

	<br>
	<h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> CCA Existing Student Registration:</h3>
	<br>
	<ol>
	<li>Check your <b>Family ID</b> &amp; <b>Student ID</b> at <a href="https://docs.google.com/spreadsheets/d/12lRFIvdMypa7zE_wbMoMZlp_M4orBKGK9RQBIG_cejw/pubhtml" target="_blank">FamilyID &amp; StudentID Table</a>.</li>
	<li>Register <b>EACH</b> student at <a href="https://goo.gl/forms/nbDT1rJuTO6FELqd2" target="_blank">CCA Existing Student Registration</a>. (Be sure to click Submit to complete registration)</li>
	<li>Calculate total tuition at <a href="https://onedrive.live.com/embed?cid=5E7651835937A0E8&resid=5E7651835937A0E8%21128&authkey=AM2E6xL7Meu7jeI&em=2&wdAllowInteractivity=False&AllowTyping=True&wdHideGridlines=True&wdHideHeaders=True" target="_blank">CCA Tuition Calculator</a>.</li>
	<li>Bring a check with your <b>Family ID noted on the check</b>. (If paying cash, please inform CCA officers your Family ID.)</li>
	</ol>
	<br>
	<span class="text-danger"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> <i><b>Note</b>: There is no need to print the registration form.</i></span>

</div>