<style type="text/css">
ol li{
	font-size: 15px;
	margin: 0.7em 0;
}
</style>
<div class="jumbotron card" style="background-color: #f5f5f5;">

	<img src="images/logo_f5f5f5.png" class="img-responsive center-block" style="max-width: 70%">
	<h2 class="text-center">Enrollment &amp; Registration</h2>
	<hr>
	<h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> CCA New Family Enrollment:</h3>
	<br>
	<ol>
	<li>Complete your family and student enrollment at <a href="https://goo.gl/forms/Q41zPGdemLbrnSkj1" target="_blank">CCA New Family Enrollment</a>.</li>
	<li>Retrieve your <b>Family ID</b> and <b>Student ID</b> at the CCA registration desk on site.</li>
	<li>Follow the instructions of CCA Existing Student Registration below.</li>
	</ol>
	<br>
	<h3><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> CCA Existing Student Registration:</h3>
	<br>
	<ol>
	<li>Check your <b>Family ID</b> &amp; <b>Student ID</b> at <a href="https://docs.google.com/spreadsheets/d/12lRFIvdMypa7zE_wbMoMZlp_M4orBKGK9RQBIG_cejw/pubhtml" target="_blank">FamilyID &amp; StudentID Table</a>.</li>
	<li>Register <b>EACH</b> student at <a href="https://goo.gl/forms/nbDT1rJuTO6FELqd2" target="_blank">CCA Existing Student Registration</a>. (Be sure to click Submit to complete registration)</li>
	<li>Calculate total tuition at <a href="https://onedrive.live.com/embed?cid=289B3E43CFCA84FF&resid=289B3E43CFCA84FF%215301&authkey=ADdjZSb36IqcjrQ&em=2&wdAllowInteractivity=False&AllowTyping=True&ActiveCell=%27Calculator%27!B4&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True" target="_blank">CCA Tuition Calculator</a>.</li>
	<li>Bring a check with your <b>Family ID noted on the check</b>. (If paying cash, please inform CCA officers your Family ID.)</li>
	</ol>
	<br>
	<span class="text-danger"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> <i><b>Note</b>: There is no need to print the registration form.</i></span>

</div>