<div class="jumbotron card" style="width:90%; align:center">
  <h2>Online Adult Mandarin Classes</h2>
  <hr>
    <div>
		<div class="card" style="margin-top:15px;margin-bottom: 15px">
			<img src="images/TCML_Program.jpg" style="width:100%">
			<a class="btn btn-primary btn-block" style="margin-top: 5px;" ui-sref="tcml_reg" target="_blank">FAQ</a>
			<a class="btn btn-primary btn-block" style="margin-top: 5px" href="https://docs.google.com/forms/d/e/1FAIpQLSfhVQxLP02XRqJSRWttYrwPcL0c4iM5eYb5gy4_obDj3C59OQ/viewform?usp=sf_link" target="_blank">Register Now</a>
		</div>
    </div>
</div>