
<div class="jumbotron card">
  <h2>哥城中文學校組織章程 CCA Bylaws</h2>
  <hr>
  <p>
        請點擊以下的連結下載哥城中文學校組織章程 <br>Please click on the link below to download the Columbus Chinese Academy Bylaws.</p>
        </p>
        </p>
            <a href="static/bylaw3_1_101202.pdf" target="_blank">哥城中文學校組織章程 CCA Bylaws</a>
        </p>

        <object data="static/bylaw3_1_101202.pdf" type="application/pdf" width="100%" height="700px;">
         
          <p>It appears you don't have a PDF plugin for this browser.
          No biggie... you can <a href="static/bylaw3_1_101202.pdf">click here to
          download the PDF file.</a></p>
          
        </object>
</div>