<div class="jumbotron card">
  <h2>哥城中文學校的歷史 History of CCA</h2>
  <hr>
    	<p>
	    	哥城中文學校建校于1973年，至今三十三年。其歷史依上課地址的不同，可以分為五個時期：<br></br>
	    	<ol type="1">
	    		<li><p>1973 至 1987， 十四年在 Upper Arlington Lane Avenue Baptist Church 上課。歷經十位校長:</p></li><br>
	    			<ul>
	    				<li><p>1973-1974 李述齋</p></li>
					<li><p>1974-1975 殷金良</p></li>
					<li><p>1975-1977 羅軍昌</p></li>
					<li><p>1977-1978 王南</p></li>
					<li><p>1978-1979 徐抗</p></li>
					<li><p>1979-1980 麥遇興</p></li>
					<li><p>1980-1982 李文朗</p></li>
					<li><p>1982-1984 朱穗靈</p></li>
					<li><p>1984-1986 於宗昌</p></li>
					<li><p>1986-1987 章紀黛</p></li>
	    			</ul><br>
	    		<li><p>1987 至1990，三年在 Columbus Centennial High School 上課。歷經三位校長:</p></li><br>
	    			<ul>
	    				<li><p>1987-1988 曾惠梅</p></li>
					<li><p>1988-1989 李兆良</p></li>
					<li><p>1989-1990 任盛濬</p></li>
	    			</ul><br>
	    		<li><p>1990 至1999，九年在 Columbus Ridgeview Middle School 上課。歷經九位校長: </p></li><br>
	    			<ul>
	    				<li><p>1990-1991 傅立生</p></li>
					<li><p>1991-1992 周慶康</p></li>
					<li><p>1992-1993 林廉清</p></li>
					<li><p>1993-1994 萬其昌</p></li>
					<li><p>1994-1995 衛興中</p></li>
					<li><p>1995-1996 張天福</p></li>
					<li><p>1996-1997 周儀</p></li>
					<li><p>1997-1998 張一信</p></li>
					<li><p>1998-1999 徐英敏</p></li>
	    			</ul><br>
	    		<li><p>1999 至2006，七年在 Columbus North Education Center 上課。歷經七位校長: </p></li><br>
	    			<ul>
	    				<li><p>1999-2000 謝世芬</p></li>
					<li><p>2000-2001 朱宜飛</p></li>
					<li><p>2001-2002 楊瑞光</p></li>
					<li><p>2002-2003 高瑞珠</p></li>
					<li><p>2003-2004 許曉陽</p></li>
					<li><p>2004-2005 李德宏</p></li>
					<li><p>2005-2006 王國璽</p></li>
	    			</ul><br>
	    		<li><p>2006 開始在 Dublin Daniel Wright Elementary School 上課。校長為:</p></li><br>
	    			<ul>
	    				<li><p>2006-2007 周穎良</p></li>
					<li><p>2007-2008 陳啟智</p></li>
					<li><p>2008-2014 陳建華</p></li>
					<li><p>2014-2015 林亦欣</p></li>
					<li><p>2015-現任 <b>沈漢威</b></p></li>
	    			</ul><br>
	    	</ol>
	    	<ol type="A">
	    		<li><p>1987年以前的校史請參閱第一任校長李述齋寫於1997-1998通訊錄<a href="static/CCA_History(Lee).jpg">「二十五年來的中文學校」</a>。</p></li>
			<li><p>請參閱第二十二任校長徐英敏寫的(<a href="static/CCA_History(Hsu).pdf">Link</a>)中文學校如何在1998年十月成為IRS 501(c)(3) Non-Profit Organization 的經過，中文學校被迫離開 Ridgeview Middle School 的原因，以及找到North Education Center的過程。</p></li>
			<li><p>第二十六任校長高瑞珠任內增加了禮券幹事，並且將總務幹事一分為二，成為總務採購與總務設備兩位幹事。至此，中文學校包含校長在內共有十位幹事。</p></li>
			<li><p>請參閱第三十任校長周穎良寫的<a href="static/NoSchoolforThreeMonths(ChouYing-Liang).pdf">「沒有學校的三個月」</a>，說明中文學校為何搬家離開North Education Center的原因，以及尋找新校址的過程。</p></li>
	    	</ol>
	    </p>
</div>