<div class="jumbotron card">
  <h2>學校宗旨 Our Mission</h2>
  <hr>
	<p>
		<i>
			Teach the Chinese language to students ranged from Kindergarten (k) to twelfth (12th) grade. A Non-profit Educational Institution
		</i>
		</br></br><p>
		The Academy admits students of any race, color, national and ethnic origin to all the rights, privileges, programs, and activities generally accorded or made available to students at the school. It does not discriminate on the basis of race, color, national or ethnic origin in administration of its admission policies, education policies, scholarships and loan programs, and athletic and other school-administered programs.</p>
	</p>
</div>