<div class="row">
    <div class="card">

        <div class="col-md-3">
            <div class="btn-group-vertical" id="sidebar">
               <a class="btn btn-default" href="#/rules#school_rules">校規<br>School Rules</a>
               <a class="btn btn-default" href="#/rules#classroom_rules">教室使用須知<br>Classroom Rules</a>
               <a class="btn btn-default" href="#/rules#safety_rules">安全須知<br>Safety Rules</a>
               <a class="btn btn-default" href="#/rules#food_allergy_policy">食物過敏方針<br>CCA Food Allergy Policy</a>
            </div>
        </div>
        <div class="col-md-9">
            <h2>法規守則 Regulations and Rules</h2>
            <hr>
            <a name="school_rules"></a> 
            <div class="jumbotron card">
              <h3>校規 School Rules</h3>
              <hr>
              <ol>
                        <li><p>No food or beverages are allowed in the classrooms, except for water.</p></li>
                        <li><p>Do not use classroom’s black board.  Do not erase/remove things that were on the black board.</p></li>
                        <li><p>Do not use the restroom or faucet inside the classroom.  Do not touch mirror inside the classroom.</p></li>
                        <li><p>Do not use classroom’s equipment, TV, VCR, or computers.</p></li>
                        <li><p>Do not mess with classroom teachers’ personal stuff such as teaching equipment, props and materials.</p></li>
                        <li><p>Leave Wright Elementary School’s students stuff in desk alone and work around stuff that is lying out.</p></li>
                        <li><p>At least one adult has to be in the classroom the whole time during school hours.</p></li>
                        <li><p>During snack time, each class has to have at lease one adult with students the whole time.</p></li>
                        <li><p>Do not use restrooms that are located next to the gym.</p></li>
                        <li><p>Try keeping classrooms, restrooms, hallways, stairs, gym, commons clean.</p></li>
                        <li><p>After school, parents should help making sure things are in order.  For example,</p></li>
                        <li><p>make sure the faucets in the restrooms and classrooms are properly shut off;</p></li>
                        <li><p>return classrooms to the original form and configuration;</p></li>
                        <li><p>make sure classrooms, hallways, stairs, gym, commons, and restrooms are clean.</p></li>
                    </ol>    
            </div>

            <a name="classroom_rules"></a> 
            <div class="jumbotron card">
              <h3>教室使用須知 Classroom Rules</h3>
              <hr>
                    <ul>
                        <li>
                            <p>
                            每堂上課, 學生應在教室外走廊等到教室內有大人時方可進入。
                            如果您不打算留在教室等到老師到達, 請勿帶您的小孩進入教室。
                            </p>
                            <p>
                            No students are allowed to be in any classroom without the presence of adults at any time.
                            </p>
                        </li>
                        <li>
                            <p>絕對禁止使用, 移動或破壞教室內的佈置及器材。</p>
                            <p>CCA students are not allowed to alter, use or damage any arrangements or equipments in the classroom.</p>
                        </li>
                        <li>
                            <p>上二樓樓梯將會在第二堂課下課後隨即關閉, 學生應迅速離開教室。</p>
                            <p>The second floor entrance will be closed promptly after the second class (i.e. 3pm). All students should leave classrooms promptly.</p>
                        </li>
                        <li>
                            <p>未經許可學生禁止進入其上課以外之所有教室或房間 (例如Gym, Kitchen, Art Room, Teacher’s Lounge, Library, Storage Room 等)</p>
                            <p>CCA students are not allowed to enter any rooms other than their own classrooms or restrooms. For instance, no student should enter kitchen, art room, teacher’s lounge, library, and storage rooms, etc. without permissions from CCA officers or teachers.</p>
                        </li>
                    </ul>
            </div>


            <a name="safety_rules"></a> 
            <div class="jumbotron card">
              <h3>安全須知 Safety Rules</h3>
              <hr>
                    <h4>Safety Policies</h4>
                    <ul>
                        <li><p>
                            Children should not be dropped off at school before 12:50.  If children arrive before 12:50, parents
                            must accompany them into the school and remain with them at their child's grade table.  Children are
                            not to go to their classroom until the bell rings - they must sit at their class table.  Also, if there is no
                            CCA adult in the classroom, they are to remain outside the classroom and report the matter to a CCA
                            staff member.
                        </p></li>
                        <li><p>
                            No running inside the school building, except in the gym.
                        </p></li>
                        <li><p>
                            Student who is eight years old or younger must be accompanied by an adult when leaving the
                            classroom going to the restroom.
                        </p></li>
                        <li><p>
                            All children are expected to obey the school rules, listen to their teachers and CCA staff.  There will
                            be consequences for not following the rules or misbehaving - ranging from a 'time out' in the office, in
                            school suspension or expulsion.   A reminder that parents are legally responsible for any damage that
                            is caused by their child.
                        </p></li>
                        <li><p>
                            Parents/teachers must immediately report to CCA staff in the case of any accident or damage to
                            school property and fill out a damage report.
                        </p></li>
                    </ul>    

                    <h4>Disciplinary Procedures</h4>
                    <ul>
                        <li><p>
                            1st time offense – CCA sends a notice, and collect repair costs (if any) from the parents.
                        </p></li>
                        <li><p>
                            2nd time offense – CCA calls a meeting with the parents.
                        </p></li>
                        <li><p>
                            3rd time offense – CCA expels the student
                        </p></li>
                    </ul>
            </div>
            <a name="food_allergy_policy"></a> 
            <div class="jumbotron card">
              <h3>CCA Food Allergy Policy</h3>
              <hr>
                    <p>
                    CCA recognizes that food allergies, in some instances, may be severe and even life threatening. 
                    CCA has adopted this policy to create a framework for accommodating students with food allergies
                    and to reduce the likelihood of severe allergic reactions of students with known food allergies
                    while at school.
                    </p>

                    <h4>Parent/Student Responsibility</h4>
                    <ol>
                        <li><p>
                        Parents of students, or students age 18 or older, with allergies must notify CCA of such 
                        allergies at the beginning of each school year.  Such notice may be provided on the CCA 
                        registration form completed by the parents, or by other acceptable means such as written 
                        notice to the school principal.
                        </p></li>    
                        <li><p>
                        Parents of students with life threatening allergies must:         
                            <ul>
                            </ul></li>    
                            <li><p>
                            Have the student  or themselves carried their own Epi-pen all the time while at school;
                            </p></li>    
                            <li><p>
                            If necessary, cooperate with CCA to formulate a FOOD ALLERGY ACTION PLAN in accordance with CCA Guidelines and 
                            described more fully below.
                            </p></li>
                        </ul>
                        </p></li>    
                        <li><p>
                        Parents are responsible to educate their student about managing his/her allergy at school,  including, but not limited to, identifying “safe foods,” by  discussing the vigilance required to     self monitor food products  sold at events or special student sales, foods brought for snacks .
                        </p></li>    
                    </ol>

                    <h4>CCA Responsibility</h4>
                    <ol>
                        <li><p>
                        CCA must cooperate in the development of a FOOD ALLERGY ACTION PLAN for students with life threatening allergies in accordance with Guideline for Food Allergy Policy, if requested by student and /or parent of  food allergies. The FOOD ALLERGY ACTION PLAN must address (1) what actions will be taken to avoid exposure at school, and (2) what actions will be taken in the event of exposure.  The Plan shall be developed through consultation between the school staff, the student’s parents, and the student’s physician or allergist.  Once created, this Plan should be reviewed and updated annually by the school staff, the student’s parents, and the student’s physician or allergist.
                        </p></li>    
                        <li><p>
                        CCA will share the FOOD ALLERGY ACTION PLAN developed with appropriate school teachers and staff.
                        </p></li>    
                        <li><p>
                        With the consent of the student’s parents, a FOOD ALLERGY ACTION PLAN may provide a mechanism for CCA to provide notice to the student’s classmates and/or a student’s classmates’ parents of a life threatening food allergy in the classroom. 
                        </p></li>    
                    </ol>    
                    <div class="alert alert-warning">
                      <p>CCA staff will try their best to help and protect students with sever food allergies, once appropriately notified.</p>
                    </div>
                    <div class="alert alert-warning">
                      <p>CCA and staff CANNOT be hold responsible for any unfortunate incident.</p>
                    </div>

                    <p>
                    Click to download the <a href="./CCA_Food_allergy_files/slide0001.htm">CCA School Guidelines for Food Allergy Policy</a>
                    </p>  
            </div>
        </div>

    </div>
</div>
<div class="row" style="height: 50px"></div>

<style type="text/css">
  #sidebar.affix-top {
    position: static;
    margin-top:20px;
    width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:20px;
    width:228px;
  }

  #sidebar{
    margin-bottom: 50px;
  }
</style>

<script type="text/javascript">
    $('#sidebar').affix({
      offset: {
        top: 245
      }
});
</script>