<div style="padding-top:12px;text-align:center">
	<p>
		Copyright © 2016 哥城中文學校 Columbus Chinese Academy <a href="https://www.facebook.com/cca.columbus.ohio/"><img src="images/fb4.png" height="25px;" style="padding-left:15px;"></a>
		<br>
		<span class="glyphicon glyphicon-home" aria-hidden="true" style="padding-left:10px;color:#396CEC"></span> 
		2335 W Case Rd Columbus, OH 43235 
		<a href="https://goo.gl/maps/8amEZutepYr" target="_top"> Google maps</a>
		<span class="glyphicon glyphicon-envelope" aria-hidden="true" style="padding-left:10px;color:#396CEC"></span>
		<a href="mailto:principal@cmhcca.org" target="_top">principal@cmhcca.org</a>
	</p>

</div>