<style type="text/css">
.ug-gallery-wrapper .ug-slider-wrapper {
    background-color: #ffffff !important;
}
</style>
<div style="width: 100%">
<div id="flickrembed"></div>
</div>
<div class="row">
	<div class="col-md-6" >
		<div class="card" style="margin-top:15px;margin-bottom: 15px">
			<h3>官方公告 Official Announcements</h3><hr>
			<a class="announce_link" ui-sref="reg">
                <div class="item-title">線上註冊 Online Registration</div>
                <div class="item-time"> 2017-01-19</div>
            </a>
<!-- 			<a class="announce_link" ui-sref="chinese_reg">
                <div class="item-title">中文課程註冊表 Chinese Course Registration Form</div>
                <div class="item-time"><span class="label label-danger">NEW</span> 2017-01-03</div>
            </a>
			<a class="announce_link" ui-sref="extra_reg">
                <div class="item-title">課外活動註冊表 Extracurricular Registration Form</div>
                <div class="item-time"><span class="label label-danger">NEW</span> 2017-01-03</div>
            </a> -->
<!-- 			<a class="announce_link" ui-sref="FASCA">
                <div class="item-title">2016年海外青年文化志工培訓班</div>
                <div class="item-time">2016-03-02</div>
            </a>
			<a class="announce_link" href="https://www.facebook.com/cca.columbus.ohio/photos/a.938821629527240.1073741828.938812152861521/997758860300183/?type=3&permPage=1">
                <div class="item-title">2016年海外華裔青年英語服務營</div>
                <div class="item-time">2016-01-24</div>
            </a> -->
		</div>
	</div>

	<div class="col-md-6" >
		<div class="card" style="margin-top:15px;margin-bottom: 15px">
			<h3>活動公告 Activity Announcements</h3><hr>
<!-- 			<a class="announce_link" ui-sref="summercamp2016">
                <div class="item-title">2016 哥城中文學校民俗文化夏令營 <br>CCA Chinese Culture Summer Camp</div>
                <div class="item-time"> 2016-02-22</div>
            </a> -->
			<a class="announce_link" href="#">
                <div class="item-title">2017 雞年慶祝活動 Chinese New Year Celebration</div>
                <div class="item-time"><span class="label label-danger">NEW</span> 2017-02-11</div>
            </a>
		</div>
	</div>	
</div>
<div class="row" style="padding:15px">
	<div class="card">
		<h3>最新消息 Latest News</h3><hr>
<!-- 		<div class="col-md-4 box">
		   <div class="ribbon"><span>快!Hurry!</span></div>
			<div class="thumbnail">
			  <img src="images/2016summercamppreview.png">
			  <div class="caption">
			    <h3>2016 民俗文化夏令營 Chinese Culture Summer Camp</h3>
			    <p>今年的「哥城中文學校民俗文化夏令營」時間是在 8/1/2016 到 8/5/2016，已經開始報名了！活動內容非常豐富，趕快看看活動flyer上的介紹吧！</p>
			    <p><a ui-sref="summercamp2016" class="btn btn-primary btn-block" role="button">更多資訊 More Info</a></p>
			  </div>
			</div>
		</div> -->
		<div class="col-md-4">
		   <div class="ribbon"><span>New</span></div>
			<div class="thumbnail">
			  <img src="images/1230_small.jpg">
			  <div class="caption">
			    <h3>農曆新年慶祝活動</h3><h4>Chinese New Year Celebration</h4>
			    <p>農曆新年的慶祝活動就在2/11,詳細活動內容請前往Facebook專頁！</p>
				<a href="images/1230.jpg" class="btn btn-primary btn-block" style="margin-top: 5px">活動海報 Flyer</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
		   <div class="ribbon"><span>New</span></div>
			<div class="thumbnail">
			  <img src="images/back_to_school2.jpg">
			  <div class="caption">
			    <h3>馬上報名 Register now!</h3>
			    <p>1/21就要開課了，快點來報名中文課程和課外活動吧！<br>School starts on January 21st, get registered for the Chinese courses and extracurricular now!</p>
		    	<a ui-sref="reg" class="btn btn-primary btn-block" style="margin-top: 5px">如何註冊 How to register</a>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
			  <img src="images/CCA_2016-2017_Calendar_preview.jpg">
			  <div class="caption">
			    <h3>2016-2017 行事曆 Calendar</h3>
			    <p>本學期的行事曆，快來看看什麼時候上課吧！<br>Calendar for this semester, come and check when we're having class!</p>
			    <p><a ui-sref="calendar" class="btn btn-primary btn-block" role="button">更多資訊 More Info</a></p>
			  </div>
			</div>
		</div>
<!-- 		<div class="col-md-4">
			<div class="thumbnail">
			  <img src="images/2016may.jpg" alt="...">
			  <div class="caption">
			    <h3>五月行事曆 April Calendar</h3>
			    <p>五月的活動都在這裡！<br>The calendar for activities of May!</p>
			    <p><a href="images/2016may.jpg" class="btn btn-primary btn-block" role="button">更多資訊 More Info</a></p>
			  </div>
			</div>
		</div> -->
	</div>
</div>
<div class="row">
	<div class="col-md-6" style="margin-top:15px">
		<div class="card">
			<h3>學校位址 School Address</h3><hr>
			<p>
				Daniel Wright Elementary School
				<br>2335 W Case Rd Columbus, OH 43235
				<br><a href="https://goo.gl/maps/8amEZutepYr" target="_blank">Google maps</a>
			</p>
			<iframe width="100%" height="330px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3053.19423936588!2d-83.0800903!3d40.0710792!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88389282b69146f9%3A0x7be66429f0bf0e37!2s2335+W+Case+Rd%2C+Columbus%2C+OH+43235!5e0!3m2!1sen!2sus!4v1416793110861" frameborder="0" style="border:0"></iframe>
		</div>
	</div>

	<div class="col-md-6" style="margin-top:15px">
		<div class="card">
			<h3>學校簡介 Introduction</h3><hr>

			<div class="thumbnail">
				<img src="images/logo.jpg">
			</div>
			<p>哥城中文學校 - 位於俄亥俄州哥倫布市，是一個非營利的中文及華人文化學校。本校提供中班(Pre-k)到高三(12年級)的課程、成人會話課程、以及許多中文第二外語課程。<br>
			Columbus Chinese Academy, a non-profit Chinese language and culture school located at Columbus Ohio. This Chinese School offers Chinese classes to pre-k to 12th grade, Chinese Adult Conversation, and several CFL (Chinese as Foreign Language) classes.</p>
			<div class="well well-sm card">
				CCA 臉書 Facebook: <a href="https://www.facebook.com/cca.columbus.ohio/"><img src="images/fb4.png" height="35px;" style="padding:5px;"></a><a href="https://www.facebook.com/cca.columbus.ohio/" target="_blank">cca.columbus.ohio</a><br>
				校長電子郵件 Principal's Email: <a href="mailto:principal@cmhcca.org" target="_top">principal@cmhcca.org</a>
			</div>
			
		</div>
	</div>
</div>
<div class="row" style="height: 50px"></div>
<script src="//flickrembed.com/embed_v2.js.php?source=flickr&layout=responsive&input=www.flickr.com/photos/ching43202/sets/72157678111127512&sort=0&by=album&theme=default_notextpanel&scale=fill&skin=default&id=58b6168c7b9ec"></script>

<style type="text/css">

</style>