
<!-- 
<div class="row">
		<div class="owl-carousel">
			<div class="item">
				<img src="/images/bar1.jpg" alt="2016 New Year Celebration">
			</div>
		</div>
</div>
 -->
<div class="row">
	<div class="col-md-6" style="margin-top:15px">
		<div class="card">
			<h3>官方公告 Official Announcements</h3><hr>
			<a class="announce_link" href="https://www.facebook.com/cca.columbus.ohio/photos/a.938821629527240.1073741828.938812152861521/997758860300183/?type=3&permPage=1">
                <div class="item-title">2016年海外華裔青年英語服務營</div>
                <div class="item-time"><span class="label label-danger">NEW</span> 2016-01-24</div>
            </a>
			<a class="announce_link" href="#">
                <div class="item-title">2015 文化夏令營 Culture Summer Camp</div>
                <div class="item-time">2015-07-24</div>
            </a>
		</div>
	</div>

	<div class="col-md-6" style="margin-top:15px">
		<div class="card">
			<h3>活動公告 Activity Announcements</h3><hr>
			<a class="announce_link" href="https://www.facebook.com/events/1542926499355657/?ref=1&feed_story_type=117&action_history=%5B%7B%22surface%22%3A%22permalink%22%2C%22mechanism%22%3A%22surface%22%2C%22extra_data%22%3A%5B%5D%7D%5D">
                <div class="item-title">2016 猴年慶祝活動 Chinese New Year Celebration</div>
                <div class="item-time"><span class="label label-danger">NEW</span> 2016-02-01</div>
            </a>
		</div>
	</div>
</div>
<div class="row" style="padding:15px">
	<div class="card">
		<h3>最新消息 Latest News</h3><hr>
		<div class="col-md-4">
			<div class="thumbnail">
			  <img src="images/2016newyearAD.jpg">
			  <div class="caption">
			    <h3>2016 猴年慶祝活動 Chinese New Year Celebration</h3>
			    <p>咚咚隆咚嗆!!
2/13 (六) 歡迎與我們一同慶祝中國新年。不但有美味的台灣小吃、傳統小遊戲、福袋抽獎，更有熱鬧的新年慶祝表演，包括：
舞龍舞獅、功夫武術、新年唱跳、古典舞蹈、扯鈴、相聲、猴戲、
國樂演出…等等。
豐富的CCA新年獻禮，千萬不要錯過！</p>
			    <p><a href="https://www.facebook.com/events/1542926499355657/?ref=1&feed_story_type=117&action_history=%5B%7B%22surface%22%3A%22permalink%22%2C%22mechanism%22%3A%22surface%22%2C%22extra_data%22%3A%5B%5D%7D%5D" class="btn btn-primary" role="button">更多資訊 More Info</a></p>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
			  <img src="images/newyearcalendar.jpg" alt="...">
			  <div class="caption">
			    <h3>新年行事曆 New Year Calendar</h3>
			    <p>新年期間的慶祝活動都在這裡！The calendar for activities of Chinese New Year!</p>
			    <p><a href="images/newyearcalendar.jpg" class="btn btn-primary" role="button">更多資訊 More Info</a></p>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
			  <img src="images/giftcard1.jpg" alt="...">
			  <div class="caption">
			    <h3>買Giftcard過好年！Buy Giftcards and have a happy New Year!</h3>
			    <p>最後機會！請大家告訴大家！
學校GIFT CARD "Double禮金"到2/6喔 !
凡向學校購買GIFT CARD，可得禮金回饋，還可立即"折抵 
這學期學費"（或下學期使用）。買越多送越多!!!</p>
			    <p><a href="https://www.facebook.com/cca.columbus.ohio/photos/a.938821629527240.1073741828.938812152861521/1001969946545741/?type=3&permPage=1" class="btn btn-primary" role="button">更多資訊 More Info</a></p>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6" style="margin-top:15px">
		<div class="card">
			<h3>學校位址 School Address</h3><hr>
			<p>
				Daniel Wright Elementary School
				<br>2335 W Case Rd Columbus, OH 43235
				<br><a href="https://goo.gl/maps/8amEZutepYr" target="_blank">Google maps</a>
			</p>
			<iframe width="100%" height="330px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3053.19423936588!2d-83.0800903!3d40.0710792!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88389282b69146f9%3A0x7be66429f0bf0e37!2s2335+W+Case+Rd%2C+Columbus%2C+OH+43235!5e0!3m2!1sen!2sus!4v1416793110861" frameborder="0" style="border:0"></iframe>
		</div>
	</div>

	<div class="col-md-6" style="margin-top:15px">
		<div class="card">
			<h3>學校簡介 Introduction</h3><hr>

			<div class="thumbnail">
				<img src="images/logo.jpg">
			</div>
			<p>哥城中文學校 - 位於俄亥俄州哥倫布市，是一個非營利的中文及華人文化學校。本校提供中班(Pre-k)到高三(12年級)的課程、成人會話課程、以及許多中文第二外語課程。<br>
			Columbus Chinese Academy, a non-profit Chinese language and culture school located at Columbus Ohio. This Chinese School offers Chinese classes to pre-k to 12th grade, Chinese Adult Conversation, and several CFL (Chinese as Foreign Language) classes.</p>
			<div class="well well-sm card">
				CCA 臉書 Facebook: <a href="https://www.facebook.com/cca.columbus.ohio/"><img src="images/fb4.png" height="35px;" style="padding:5px;"></a><a href="https://www.facebook.com/cca.columbus.ohio/" target="_blank">cca.columbus.ohio</a><br>
				校長電子郵件 Principal's Email: <a href="mailto:principal@cmhcca.org" target="_top">principal@cmhcca.org</a>
			</div>
			
		</div>
	</div>
</div>
<div class="row" style="height: 50px"></div>
<script type="text/javascript">
// var owl = $('.owl-carousel');
// owl.owlCarousel({
//     loop:true,
//     margin:10,
//     items:1,
//     dots:false,
//     autoplay: true,
// })
</script>

<style type="text/css">

</style>