<!-- nav -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home" style="color: white"><img class="hvr-glow" src="images/logo_f5f5f5.png" width="60%" style="min-width:200px;max-width:290px;position:absolute;top:0px; left:5%"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">關於我們 About Us <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="mission"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 學校宗旨 Our Mission</a></li>
            <li><a ui-sref="history"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 學校歷史 School History</a></li>
            <li><a ui-sref="bylaws"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 組織章程 Bylaws</a></li>
            <li><a ui-sref="rules"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 法規守則 Regulations and Rules</a></li>
            <li role="separator" class="divider"></li>
             <li><a ui-sref="archives"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 歷屆活動 Activity archives</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">課程相關 Courses Related <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="chinese"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 中文課程 Chinese Cources</a></li>
            <li><a ui-sref="extra"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 課外活動 Extracurricular</a></li>
            <li role="separator" class="divider"></li>
            <!-- <li><a ui-sref="teachers"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 教師簡介 Teachers Intro</a></li> -->
            <li><a ui-sref="classrooms"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 教室分配 Classrooms</a></li>
            <li role="separator" class="divider"></li>
            <li><a ui-sref="calendar"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 行事曆 Calendar</a></li>
          </ul>
        </li>
        <li><a ui-sref="reg">註冊 Registration</a></li>
<!--         <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">註冊 Registration <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="reg"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: red"></span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: red"></span> 註冊 Registration </a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">註冊表 Registration Form</li>
            <li><a ui-sref="chinese_reg"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 中文課程 Chinese Courses </a></li>
            <li><a ui-sref="extra_reg"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 課外活動 Extracurricular </a></li>
          </ul>
        </li> -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>